* {
  font-family: 'Comfortaa';
}

.article-container {
padding: 1em;
align-self: center;
}

.col img {
  width: 40vw;
  height: auto;
}

.article-container h1 {
  text-align: center;
  background-color: #F5F5F5;
  padding: 1em;
}

.article-container button {
  background-color: white;
  color: #9CAF88;
  border: 2px solid #9CAF88;
  font-size: small;
  float: right;
}

.vid1 {
  width: 30em;
  height: 20em;
  float: right;
}

footer {
  background-color: #9CAF88;
  padding: 2em;
  font-size: small;
}

.copyright {
  background-color: white;
  border-radius: 1em;
  width:auto;
  padding: 0 1em;
  text-align: center;
  
}

@media (min-width: 1200px) {
  .imgcontainer {
    height: 45vw;
    background-image: url('img/bakground2.PNG');
    background-size: cover;
    margin: auto;
    padding: 50px;
  }

  .imgcontainer img {
    width: 30vw;
    border-radius: 10%;
  }

  .video-container {
    margin: 5em;
    padding: 2em;
    height: 47em;
    background-color: #9CAF88;
  }

  .vid-desc {
    padding: 5em 0;
    background-color: #F5F5F5;
  }

  .vid1 {
  width: 30em;
  height: 20em;
  float: right;
  }

  .vid2 {
    width: 30em;
    height: 20em;
    float: left;
  }

  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 576px) {
*p {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

nav {
  width: 100%;
  display:inline;
}

.video-container {
  margin: 1em;
  padding: 1em;
  height: 100%;
  background-color: #9CAF88;
}

.vid-desc {
  padding: 5em 0;
  background-color: #F5F5F5;
}

.vid1 {
  padding: auto;
  width: 100%;
  height: 20em;
  display: block;
}

.vid2 {
  width: 83vw;
  height: 20em;
  float: right;
}

.img-gallery {
  margin: auto;
  margin-bottom: 3em;
  width: 95%;
  background-color: #F5F5F5;
}

.img-gallery img {
  border-radius: 10%;
  position: relative;
  align-content: space-between;
  display:inline;
  padding: 1em;
}
 }

 @media (min-width: 600px) {
  .video-container {
      margin: 5em;
      padding: 2em;
      height: 50vwem;
      background-color: #9CAF88;
    }
  
    .vid-desc {
      padding: 5em 0;
      background-color: #F5F5F5;
    }
  
    .vid1 {
      width: 30vw;
      height: 20em;
      float: right;
    }
  
    .vid2 {
      width: 30vw;
      height: 20em;
      float: left;
    }

.img-gallery {
  margin: auto;
  margin-bottom: 3em;
  width: 90%;
  background-color: #F5F5F5;
  padding: 2em;
  }

 .img-gallery img {
    position: relative;
    align-content: space-between;
    border-radius: 10%;
  }

  .contact {
    margin: 9em 0;
  }

  .art-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

 }
